body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

li:hover {
  background-color: #88ff88;
}

a:focus {
  font-weight: bold;
}

a {
  text-decoration: none;
}

.advanced {
  width: 300px;
  height: 300px;
  margin: 20px;
  background-color: darkorchid;

  border-radius: 50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
