body {
  background-color: beige;
  margin-bottom: 500px;
}

h1 {
  /* This is a comment. */
  font-family: sans-serif;
  font-size: 50px;
}

p {
  color: salmon;
}

.italics {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

#site-title {
  background-color: lime;
}

h1.italics {
  border: 3px dashed purple;
}

#special-div p {
  background-color: magenta;
}
